header{
	min-width: 1080px; 
	max-width: 1080px; 
	margin: auto;
}

body{
	
}

.div_navbar{
	background-color: lightblue;
}

.div_title {
	color: white;
	text-align: center;
}

.div_title p {
	font-size: 50px;
	margin: 10px;
}

.div_sections ul{
	margin-top: 30px;
	float: right;
	list-style: none;
}

.div_sections li{
	margin-left: 30px;
	display: inline;
}

a{
	text-decoration: none;
}

.info{
	padding-left: 10px;
}
.div_img h1{
	text-align: center;
}

.div_img img{
	display: block ;
	margin: auto;
	padding: 20px;
}

.div_resume h1{
	text-align: center;
	font-size: 40px;
}

